* {
    box-sizing: border-box;
}

h1 {
	font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: auto;
}

h2 {
	
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h3{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h4{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}



html {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

p{
    font-size: 20;
	font-family: 'Roboto', sans-serif;
}

p.index{
    text-align: center;
}

/*---------------Navigation bar-------------*/

/*The following CSS was taken from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp to help make the top navigation bar more responsive for the size of the browser*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
    
  .topnav{
    text-align: left;
  }
    
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  } 
}

.topnav{
    background-color: darkslategrey;
    padding: 11px;
}

.topnav a{
    color: white;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.topnav .icon {
    display: none;
}

.topnav a:hover{
	text-shadow: 3px 3px 3px #A19B9B;
	transition: 0.2s;
}

/*----------------------------------------------*/

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

.test{
    text-align: center;
}

.content{
  max-width: 800px;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

img.header {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

/*----------------Earthquake Page CSS--------------*/

#mapLayout {
    height: 438px;
    width: 100%;
    max-width: 85%;
    margin-left: 20px;
    margin-right: 20px;
	position: relative;
    margin:auto;
	padding: 2px 16px;
	border-radius: 5px;
	background-color: #EEEEEE;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border:5px solid #EEEEEE;
}
}

@media only screen and (max-width: 600px){
    .buttonsEQ { 
        max-width: 100%;
        margin: auto;  
    }
}

.buttonsEQ{
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    width: 68%;
}

button{
    border-radius: 2px;
    border: 1px solid #323438;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover{
	border-radius: 5px;
    border: 2px solid black;
    font-size: 15px;
	color: white;
	background-color: #323438;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
	transition: 0.4s;
}

/*------Black Text Nav Bar---------*/
@media screen and (max-width: 600px) {
  .topnavBlack a:not(:first-child) {display: none;}
  .topnavBlack a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnavBlack.responsive {position: relative;}
  .topnavBlack.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
    
  .topnavBlack{
    text-align: left;    
  }
  .topnavBlack.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnavBlack.responsive{
    background-color: #463E3E;
  }
}

.topnavBlack a{
    color: black;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.topnavBlack .icon {
    display: none;
}

.topnavBlack a:hover{
    color: white;
	text-shadow: 1px 1px 3px black;
	transition: 0.2s;
}

.topnavBlack{
    padding: 11px;
    color:black;
    position: absolute;
    width: 100%;
}

/*------White Text Nav Bar---------*/
@media screen and (max-width: 600px) {
  .topnavWhite a:not(:first-child) {display: none;}
  .topnavWhite a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnavWhite.responsive {position: relative;}
  .topnavWhite.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
    
  .topnavWhite{
    text-align: left;    
  }
  .topnavWhite.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnavWhite.responsive{
    background-color: #463E3E;
  }
}

.topnavWhite a{
    color: white;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.topnavWhite .icon {
    display: none;
}

.topnavWhite a:hover{
    color: white;
	text-shadow: 1px 1px 3px black;
	transition: 0.2s;
}

.topnavWhite{
    padding: 11px;
    color:black;
    position: absolute;
    width: 100%;
}

/*----------------Weather Page CSS--------------*/
#rowDiv{
	margin: auto;
	text-align: center;
	width: 100%;
}

input[type="text"]{
	height: 40px;
	font-size: 20px;
}

#submitWeather{
	height: 40px;
	font-size: 20px;
}

.weather_image{
	height: auto;
	width: auto;
	
}

#error{
	color: #bb0000;
	text-align: center;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.infoWeather {
	text-align: left;
    padding-left: 300px;
	float: left;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
   div.infoWeather {
   text-align: left;
   float: absolute;
   padding-left: 30px;
  }
}

.contentWeather{
  padding-top: 20px;
  padding-right: 20px;
  max-width: 800px;
  margin: auto;
}

#weatherMap {
    height: 700px;
    width: 700px;
    max-width: 85%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    margin:auto;
	padding: 2px 16px;
	border-radius: 5px;
	background-color: #EEEEEE;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border:5px solid #EEEEEE;
}

/*----------------UV Page CSS--------------*/
input[type="number"]{
	height: 40px;
	font-size: 20px;
}

canvas{
    height:35px;
    width: 30px;
}

/*----------------Authors Page CSS--------------*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
  padding: 2px 16px;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 700px;
  flex-basis: 33.33%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

@media(max-width: 900px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 500px) {
  .grid-item {
    flex-basis: 100%;
  }
}
/*
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  text-align: center;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.socialMediaIcons {
text-align: center;
}
*/
pre {
    background: #EEEEEE;
    border: 1px solid #ddd;
    border-left: 3px solid blue;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
	
}